/**
 *  @file {{ FILE }}
 *  @brief A BRIEF DESCRIPTION OF THE HEADER FILE
 *  
 *  ADD A MORE DETAILED DESCRIPTION HERE
 *
 *  @author       {{ NAME }}
 *  @created      {{ TIMESTAMP }}
 *  @bug No Known Bugs
 */

#include "{{ FILE }}.h"
